@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #e0e0e0;
  font-family: Roboto, "sans-serif";
}

h1 {
  font-family: Montserrat, "sans-serif";
  font-size: 40px;
}

h2 {
  font-family: Montserrat, "sans-serif";
  font-size: 32px;
}

h3 {
  font-family: Montserrat, "sans-serif";
  font-size: 24px;
}

h4 {
  font-family: Montserrat, "sans-serif";
  font-size: 20px;
}

h5 {
  font-family: Montserrat, "sans-serif";
  font-size: 16px;
}

h6 {
  font-family: Montserrat, "sans-serif";
  font-size: 14px;
}
.container {
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.section.home {
  background-color: #212a3e;
}

.section.skills {
  background-color: #394867;
}

.section.projects {
  background-color: #f1f6f9;
}

.section.contact {
  background-color: #9ba4b5;
}
