@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap");

html,
body {
  /* height: 100%; */
  color: white;
  background-color: #e0e0e0;
  font-family: Roboto, "sans-serif";
}

.references a {
  color: #94a3b8;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HOME */
.section.home {
  background-color: #222831;
}

/* SKILLS */
.section.skills {
  background-color: #eeeeee;
}

/* PROJECTS */
.section.projects {
  background-color: #222831;
}

/* CONTACT */
.section.contact {
  background-color: #eeeeee;
}

/* FOOTER */
.section.footer {
  background-color: #222831;
  width: 100%;
  padding: 40px;
}

/* Skills CSS */
.hidden-skills {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.show-skills {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.row-skills:nth-child(2){
  transition-delay: 200ms;
}

.row-skills:nth-child(3){
  transition-delay: 400ms;
}

.row-skills:nth-child(4){
  transition-delay: 600ms;
}

.row-skills:nth-child(5){
  transition-delay: 800ms;
}

.row-skills:nth-child(6){
  transition-delay: 1000ms;
}

@media (prefers-reduced-motion) {
  .hidden-skills {
    transition: none;
  }
}

/* Projects Title CSS */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(15deg);
  transition: 0.5s;
}

.center:hover {
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(0deg);
}

.center h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18em;
  color: #00adb5;
  transform-style: preserve-3d;
  transition: 0.8s;
}
.center h1 span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
  color: #5e17eb;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewX(0deg);
  left: 0;
  color: #00adb5;
}

@media screen and (max-width: 1536px) {
  .center h1 span {
    font-size: 15em;
  }
  .center h1 span:nth-child(2) {
    left: -30px;
  }

  .center h1 span:nth-child(3) {
    left: -60px;
  }
}

@media screen and (max-width: 1280px) {
  .center h1 span {
    font-size: 11em;
  }
  .center h1 span:nth-child(2) {
    left: -23px;
  }

  .center h1 span:nth-child(3) {
    left: -45px;
  }
}

@media screen and (max-width: 1024px) {
  .center h1 span {
    font-size: 8em;
  }
  .center h1 span:nth-child(2) {
    left: -18px;
  }

  .center h1 span:nth-child(3) {
    left: -35px;
  }
}

@media screen and (max-width: 768px) {
  .center h1 span {
    font-size: 5em;
  }
  .center h1 span:nth-child(2) {
    left: -9px;
  }

  .center h1 span:nth-child(3) {
    left: -20px;
  }
}

@media screen and (max-width: 480px) {
  .center h1 span {
    font-size: 4em;
  }
  .center h1 span:nth-child(2) {
    left: -8px;
  }

  .center h1 span:nth-child(3) {
    left: -15px;
  }
}
