@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap");

html,
body {
  height: 100%;
  color: white;
  background-color: #e0e0e0;
  font-family: Roboto, "sans-serif";
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* h1 {
  font-family: Montserrat, "sans-serif";
  font-size: 40px;
}

h2 {
  font-family: Montserrat, "sans-serif";
  font-size: 32px;
}

h3 {
  font-family: Montserrat, "sans-serif";
  font-size: 24px;
}

h4 {
  font-family: Montserrat, "sans-serif";
  font-size: 20px;
}

h5 {
  font-family: Montserrat, "sans-serif";
  font-size: 16px;
}

h6 {
  font-family: Montserrat, "sans-serif";
  font-size: 14px;
} */
.container {
  /* width: 100%;
  height: 100%; */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
}

/* HOME */
.section.home {
  background-color: #222831;
}

/* SKILLS */
.section.skills {
  background-color: #eeeeee;
}

/* PROJECTS */
.section.projects {
  background-color: #222831;
}

.projects h2 {
  color: #00adb5;
  font-size: 150px;
}

/* CONTACT */
.section.contact {
  background-color: #eeeeee;
}

/* FOOTER */
.section.footer {
  background-color: #222831;
  width: 100%;
  padding: 100px;
}
